.Footer {
  text-align: center;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: #1e7dc1cc;
}
.Footer p {
  background: linear-gradient(to right, #4d045d, #8b1285);
  background-clip: text;
  -webkit-background-clip: text; /* For Safari */
  color: transparent;
}
