body {
  padding: 10px;
}
#myCarousel {
  display: fixed;
  left: 0;
  right: 0;
}
.head {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px;
  height: 65px;
  z-index: 100;
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: space-between;
}
.left {
  display: flex;
  align-items: center;
}
.left h2 {
  font-size: 30px;
  line-height: 1.6;
  letter-spacing: 7px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.input-cnt {
  display: flex;
  width: 75%;
}
.input-cnt > i {
  min-width: 40px;
  padding: 10px;
  text-align: center;
  background: lightgrey;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.input-cnt > input {
  outline: none;
  border: none;
  padding: 10px;
  border: 1px solid lightgrey;
  border-top-right-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
  width: 60%;
  transition: width 0.4s;
}
.input-cnt:hover > input {
  border: 2px solid #0076ff;
  width: 100%;
}
.input-cnt:hover > i {
  background: #0076ff;
  color: white;
}
.hero {
  display: flex;
  flex-direction: column;
}
.releaseDate {
  display: none;
}

.heroContainer {
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heroBanner {
  position: relative;
  width: 200px;
  height: 300px;
  margin-top: 30px;
  border-radius: 3px;
  object-fit: contain;
}
.heroP {
  color: azure;
  font-size: 30px;
}
.heroStatement {
  color: azure;
  font-size: 30px;
}
.search {
  display: flex;
  border: 1.4px solid #4d045d;
  border-radius: 75px;
  margin: 30px;
  background-color: #895d9e;
}
.searchBar {
  width: 98%;
  border: none;
  background-color: #895d9e;
  padding: 8px;
  font-size: 20px;
  border-radius: 50px;
}
.searchBar::placeholder {
  color: aliceblue;
}
@media (max-width: 500px) {
  .heroP {
    font-size: 20px;
  }
  .left h2 {
    font-size: 20px;
    letter-spacing: 2px;
  }
  .overview {
    display: none;
  }
  .releaseDate {
    display: block;
  }
}
