.all-movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.text-gradient {
  background: linear-gradient(to right, #4d045d, #8b1285);
  background-clip: text;
  -webkit-background-clip: text; /* For Safari */
  color: transparent;
}
.movie-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: oklch(27.8% 0.033 256.848);
  padding: 20px;
  border-radius: 1rem;
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  margin-bottom: 30px;
}
.movie-card img {
  border: 0.5rem;
  height: 400px;
  width: 100%;
}
.rating img {
  width: 30px;
  height: 30px;
  display: inline-block;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content span {
  margin: 0px 10px;
}
.vote {
  margin-left: 10px;
}
