/*:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
@import "tailwindcss";
body {
  min-height: 100vh;
}
#typedtext {
  background: linear-gradient(to right, #4d045d, #8b1285);
  background-clip: text;
  -webkit-background-clip: text; /* For Safari */
  color: transparent;
  font-size: 40px;
  transition: 1.5s all ease;
}
@media (max-width: 600px) {
  #typedtext {
    font-size: 25px;
  }
}
/*
@layer components {
  .movie-card {
    @apply bg-gray-800 p-5 rounded-2xl shadow-inner shadow-lg;
    & img {
      @apply rounded-lg h-auto w-full;
    }
    & h3 {
      @apply text-white font-bold text-base line-clamp-1;
    }
    & .content {
      @apply mt-2 flex flex-row items-center flex-wrap gap-2;
    }
  }
}*/
